// general colours list
$text-color: #333;
$background-color: #f4f4f4;

// tile colours list
$ocean-color-1: teal;
$ocean-color-2: aqua;
$sand-color-1: olive;
$sand-color-2: yellow;

// clothing colours list
$peach: pink;
$watermelon: hotpink;
$cherry: crimson;
$apple: tomato;
$lemon: yellow;
$orange: orange;
$lime: lawngreen;
$pine: forestgreen;
$sky: deepskyblue;
$ocean: steelblue;
$trench: midnightblue;
$lavender: plum;
$grape: rebeccapurple;

$cloud: seashell;
$slate: slategray;
$space: black;

$bread: sandybrown;
$toast: saddlebrown;