// Sand Tile Component Style
@import '../variables';

.sand {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sand-color-1;
  border: 1pt solid $sand-color-2;

}