@import '../variables';
// all clothing colour fills
.peach-fill svg * {
  fill: $peach;
}

.watermelon-fill svg * {
  fill: $watermelon;
}

.cherry-fill svg * {
  fill: $cherry;
}

.apple-fill svg * {
  fill: $apple;
}

.lemon-fill svg * {
  fill: $lemon;
}

.orange-fill svg * {
  fill: $orange;
}

.lime-fill svg * {
  fill: $lime;
}

.pine-fill svg * {
  fill: $pine;
}

.sky-fill svg * {
  fill: $sky;
}

.ocean-fill svg * {
  fill: $ocean;
}

.trench-fill svg * {
  fill: $trench;
}

.blueberry-fill svg * {
  fill: $blueberry;
}

.grape-fill svg * {
  fill: $grape;
}

.cloud-fill svg * {
  fill: $cloud;
}

.slate-fill svg * {
  fill: $slate;
}

.space-fill svg * {
  fill: $space;
}

.bread-fill svg * {
  fill: $bread;
}

.toast-fill svg * {
  fill: $toast;
}