.dresser-drawer-item {

  width: 10vw;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;

  
  &.maxed-out {
    border: 2px solid red; // Add a red border for emphasis
    animation: shake 0.5s; // Apply a shake animation
    
    @keyframes shake {
      10%, 90% {
        transform: translateX(-5px);
      }
      
      20%, 80% {
        transform: translateX(5px);
      }
      
      30%, 50%, 70% {
        transform: translateX(-3px);
      }
      
      40%, 60% {
        transform: translateX(3px);
      }
    }
  }
  
}

.dresser-drawer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.drawer-item-img {
  position: relative;
  width: 150px;
  height: 150px;

  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;

  .dresser-clothing-part1,
  .dresser-clothing-part2,
  .dresser-clothing-part3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .dresser-clothing-part2 {
    z-index: 2;
  }
  
  .dresser-clothing-part3 {
    z-index: 3;
  }
}

.drawer-item-details {
  width: 150px;
}
