.pose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;

  background-color: darkslategray;
}

.paperdoll-image {
  width: auto;
  height: 90%;
  object-fit: contain;
  transform: translateY(2%);
}

.paperdoll-pose2 svg * {
  fill: tomato; /* Add other necessary CSS properties */
}