.map-view {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh; 
  background-color: lightgray;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2vh;
  overflow: hidden;
}

.player {
  position: absolute;
  width: 45px;
  height: 25px;
  background-color: firebrick;
  border-radius: 25%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}