.map-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: lightgray;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2vh;
  overflow: hidden;
}

.player {
  z-index: 1;
  position: absolute;
  width: 45px;
  height: 25px;
  background-color: firebrick;
  border-radius: 25%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.boat-nav {
  width: 98%;
  display: flex;
  justify-content: space-between;
}